
body {
  background-color: WhiteSmoke;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 20px;
}

.tute-converter {
  text-align: center;
  background-color: LemonChiffon;
  margin: 10px;
  padding: 10px;
  border: inset;
  display: inline-block;
}

input {
  width: 72px;
  font-size: 14px;
}