body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

p {
  color: #333;
}

#hangman {
  font-size: 24px;
  margin-top: 64px;
  margin-bottom: 24px;
}

#wrong {
  font-size: 24px;
  margin-left: 32px;
  margin-top: 12px;
}

input {
  width: 2em;
}